{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='uk'>
  <head>
  	<meta charset='UTF-8'/>
    <title>Квітка</title>
  	<meta name='description'
      value='Про квіти' />
      <!-- Include Styles -->
      <link rel='stylesheet' href='https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href='{% static 'css/my.css' %}'>
      {% block extra_css %}{% endblock extra_css %}
  </head>
  <body class="body">

<div id='registration'>
{% if user.is_authenticated %}
 {{ user.username }} |
   <a href='{% url 'users:auth_logout' %}'>Вийти</a>
{% else %}
   <a href='{% url 'users:auth_login' %}'>Ввійти</a>
{% endif %}
</div>

  	<!-- Logo -->
  	<div class="row">
    <div class='col-xs-12'>
      <h1 id='title'>{% block title %}{% endblock title %}</h1>



    </div>
    </div>

    <!-- Start SubHeader -->
    <div class='row' id='sub-header'>
      <div class='col-xs-12'>
       <ul class='nav nav-pills' role='tablist'>
        <li role='presentation' {% if request.path == '/' %}class="active"{% endif %}><a href='{% url 'main' %}'>Саджанці та насіння</a></li>
        <li role='presentation' {% if '/pro_mene' in request.path %}class="active"{% endif %}><a href='{% url 'about' %}'>Про мене</a></li>
        <li role='presentation' {% if '/kontakty' in request.path %}class="active"{% endif %}><a href='{% url 'contacts' %}'>Контакти</a></li>
        <li role='presentation' {% if '/koshyk' in request.path %}class="active"{% endif %}><a href='{% url 'order_confirm' %}'>Замовити</a></li>
        {% if user.is_authenticated %}
        <li role='presentation' {% if '/samovlenya' in request.path %}class="active"{% endif %}><a href='{% url 'orders' %}'>готові замовлення</a></li>
        {% endif %}
       </ul>
      </div>
    </div>
    <!-- End SubHeader -->

     <div class="col-xs-12" id="content-column">
    
    {% block content %}{% endblock content %}

    

    <!-- Modal Boilerplate -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
     <div class="modal-content">
     <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal"
      aria-label="Close">
     <span aria-hidden="true">&times;</span></button>
     

     </div>
     <div class="modal-body"><!-- --></div>
     <div class="modal-footer"><!-- --></div>
     </div>
     </div>
   </div>

  </div>

  	<!-- Start Footer -->
    <div class="row">
      <footer>&copy; 2017 Oleh Smolynets</footer>
      </div>
        
<!-- End Footer -->
  	<!-- Javascripts Section -->
  	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.5.1/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  	<script src='https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js'></script>
    <script src="{% static "js/main.js" %}"></script>
  </body>
<html>