{% extends 'shop/base.html' %}
{% load static from staticfiles %}

<title>{% block title %}Купівля насіння та саджанців квітів{% endblock title %}</title>


    {% block content %}
    <div class="alert alert-warning">
    {% if buy_status %}
       В кошику {{count}} {{ fl_count }}. Ви можете ще обрати квіти або перейти в <a href='{% url "basket" %}'>кошик</a> для замовлення!
      {% else %}
      Для замовлення будь-ласка натисніть на кнопку "купити", а після цього перейдіть в закладку "кошик", де зможити оформити замовлення!
      {% endif %}
      </div>

    <!-- Start Main Page Content-->
    <div class="buy">

    </div>
    <div class="aticle">
    {% for fl in flower %}
    <button class='to_basket bb' value='{{ fl.lat_title }}'>Купити</button></div>
    <div>
      <div class="title_lot_one"><h1>{{ fl.title }}</h1></div>
      <p id="text_about">{{ fl.description }}</p>
          <center>
      <img src='{{ fl.photo_main.url }}' width='350' height='250' class="big_photo img-thumbnail" id='big_photo'>
          </center>
          <center>
      {% if fl.photo_big %}
        <img src='{{ fl.photo_big.url }}' width='350' height='250' class="big_photo img-thumbnail" id='big_photo'>
      {% endif %}
        </center>
      </div>
      {% if user.is_authenticated %}
      <div class="reg_del_button">
    <a class='btn btn-primary' href='{% url 'flower_edit' fl.id %}'>редагувати</a>
    <a class='btn btn-primary' id='del_buttom' href='{% url 'flower_del' fl.id %}'>видалити</a>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    {% endblock content %}







